.card {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 24px;
  padding: 48px 56px;
  background-color: #FFFAC2;
  border-radius: 16px;
  width: 480px;
}

.logo {
  width: 220px;
  height: auto;
  align-self: center;
}
