.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.forgotPassword {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #2b8787;
  background: none;
  border: none;
  cursor: pointer;
  text-align: center;
  padding: 0;

  &:hover {
    text-decoration: underline;
  }
}
